*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header1 {
    height: 4rem;
    background-color:rgb(236, 234, 230);
    display: flexbox;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor:pointer;
    justify-content: space-between;

}
.mms{
    display: flex;
    justify-content: space-between;
    width: 30rem;
    align-items: center;
}
.hante{
    display: flex;
    justify-content: space-between;
    width: 40rem;
    align-items: center;
}
.navbar
{
    background-color: darkred;
    height: 4rem ;
    width: 8rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header1 a{
    text-decoration: none;
    color:black
}
.navbar a{
    color: white;
}
#searchbar{
    height:1.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: rgb(236, 234, 230);
}
.search{
    height: 1rem;
    display: flex;
    cursor: pointer;
    border-radius: 2rem;
    align-items: center;
}
.search input{
    width: 0px;
    height: 1.5rem;
    border:none;
    font-weight: 500;
    transition:0.8s;
}
.search:hover input{
    width:10rem;
    height: 10rem;
}
.search i{
    height: 1.5rem;
    background-color: rgb(236, 234, 230);
    border-radius:2rem;
}
.search:hover i{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.search:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
}
#lang{
    background-color: rgb(236, 234, 230);
    height:2rem;
    width:6rem;
    border: none;
    font-size:1.2rem;
}
.navbar:hover a{
    font-size: 1.7rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
    transition:.2s;
}
.addmap:hover {
    font-size: 1.7rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
    transition:.2s;
}
.home:hover {
    font-size: 1.7rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
    transition:.2s;
}
.abt:hover {
    font-size: 1.7rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
    transition:.2s;
}
.news:hover:hover {
    font-size: 1.7rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
    transition:.2s;
}
.trade:hover {
    font-size: 1.7rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
    transition:.2s;
}
#lang:hover {
    font-size: 1.6rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
    width:8rem;
    transition:.2s;
}
.images{
    height: 9rem;
    background-color: white;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.imj{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vdo{
    height:36rem;
}
.inno{
    justify-content: space-evenly;
    background-color: white;
}
.other{
    display: flex;
    width:60rem;
    justify-content: space-between;
    background-color: white;
}
#auto{
    width:89rem;
}